aws_region                    = "eu-west-1"
aws_account_id                = "123456789012"
terraform_execution_role_name = "ai-inference-terraform-role"

name_prefix  = "ai-inference"
cluster_name = "ai-inference-eks-dev"

vpc_cidr = "10.20.0.0/20"

# Must contain exactly az_count CIDRs.
public_subnet_cidrs = [
  "10.20.0.0/24",
  "10.20.1.0/24",
]

private_subnet_cidrs = [
  "10.20.8.0/22",
  "10.20.12.0/22",
]
